* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu_cont1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.menu_cont1 .menu_logo_swingvy_links_tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}

.menu_cont1 .menu_logo_swingvy_links_tools span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.menu_cont1 .menu_login_out_request_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.menu_cont1 .menu_login_out_request_btn span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.menu_cont1 .menu_login_out_request_btn .menu_request_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFF;
    background: #0A61F7;
    cursor: pointer;
}

.menu_cont1 .comp_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F3F8FF;

}

