* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu_cont1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.menu_cont1 .menu_logo_swingvy_links_tools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
}

.menu_cont1 .menu_logo_swingvy_links_tools a{
    text-decoration: none;
}

.menu_cont1 .menu_logo_swingvy_links_tools a span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #0A61F7;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 75px;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools a {
    text-decoration: none;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools a span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    color: #1C202B;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools a span:hover {
    color: #0A61F7;
}

.menu_cont1 .menu_logo_swingvy_links_tools .menu_links_tools a svg:hover {
    fill: #0A61F7;
}

.menu_cont1 .menu_login_out_request_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.menu_cont1 .menu_login_out_request_btn a{
    text-decoration: none;
}

.menu_cont1 .menu_login_out_request_btn a span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    color: #222222;
}

.menu_cont1 .menu_login_out_request_btn a span:hover {
    color: #0A61F7;
}

.menu_cont1 .menu_login_out_request_btn .menu_request_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #0A61F7;
    cursor: pointer;
}

.menu_cont1 .menu_login_out_request_btn .menu_request_btn:hover {
    color: #0A61F7;
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 2px 2px 5px #1C202B;
}

.menu_cont1 .menu_login_out_request_btn .menu_request_btn:active {
    background: #0A61F7;
    color: #FFFFFF;
    box-shadow: none;
}

.menu_cont1 .comp_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F3F8FF;
    flex-direction: column;
}

.menu_cont1 .comp_content .top_cont_img {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.menu_cont1 .comp_content .middle_cont_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu_cont1 .comp_content .middle_cont_img .rectang_margin1 {
    margin-left: 120px;
}

.menu_cont1 .comp_content .middle_cont_img .middle_cont_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    flex-direction: column;
    margin-right: 100px;
}

.menu_cont1 .comp_content .middle_cont_btn .top_mid_spn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #657085;
    margin-bottom: 20px;
}

.menu_cont1 .comp_content .middle_cont_btn .mid_spn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #1C202B;
    margin-bottom: 30px;
}

.menu_cont1 .comp_content .middle_cont_btn .menu_request_btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFF;
    background: #0A61F7;
    cursor: pointer;
}

.menu_cont1 .comp_content .middle_cont_btn .menu_request_btn2:hover {
    color: #0A61F7;
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 2px 2px 5px #1C202B;
}

.menu_cont1 .comp_content .middle_cont_btn .menu_request_btn2:active {
    background: #0A61F7;
    color: #FFFFFF;
    box-shadow: none;
}

.menu_cont1 .comp_content .middle_cont_img .rectang_margin2 {
    margin-top: 100px;
}

.menu_cont1 .comp_content .bottom_cont_img {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.menu_cont1 .comp_content .platform_links_info_learn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #FFFFFF;
}

.menu_cont1 .comp_content .platform_links_info_learn .platform_links {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 70%;
    flex-direction: column;
    margin-top: 100px;
}

.menu_cont1 .comp_content .platform_links_info_learn .platform_links span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #657085;
    margin-bottom: 20px;
}

.menu_cont1 .comp_content .platform_links_info_learn .platform_links .links_onboard_pay_support {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #1C202B;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 690px;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .learn_block {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 250px;
    height: 52px;
    border: none;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #222222;
    padding-left: 10px;
    cursor: pointer;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .learn_block:hover {
    box-shadow: 2px 2px 7px #222222;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .learn_block:active {
    box-shadow: none;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .learn_block:focus {
    border: #0A61F7 solid 1px;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_HR_Hub {
    width: 250px;
    margin-bottom: 10px;
    background: #EAF3FF;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_Leave {
    margin-bottom: 10px;
    background: #FFF8E4;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_Time {
    margin-bottom: 10px;
    background: #FFF3EF;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_Claims {
    margin-bottom: 10px;
    background: #E2FBF2;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_Payroll {
    margin-bottom: 10px;
    background: #F1F1FC;

}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_Benefits {
    margin-bottom: 10px;
    background: #F3E5F5;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_learn .block_Mobile {
    background: #FFE5ED;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-left: 50px;
    height: 690px;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_info img {
    width: 686px;
    height: 413px;
    margin-top: 4px;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_info span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_info span a {
    text-decoration: none;
}

.menu_cont1 .comp_content .platform_links_info_learn .info_learn .support_info button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 4px;
    background: #0A61F7;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}






